/vendor
/node_modules
.env
.env.*
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/public/*
/public/storage
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
/bootstrap/cache/*.php
*.sql
*.tar.gz
_bak-*.tgz
